@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lexend+Deca:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: inline-block;
    height: 15vw;
    max-height: 3em;
}
body{
    position: relative;
    min-height: 125vh;
    padding-bottom: 10em;
}

footer{
    direction: initial;
}

@media (min-width: 768px){
    body{
    padding-bottom: 4em;
    }
}