.counterBox{
	width: 100px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(120deg, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.6) 80%);
	border-radius: 20px;

}

.counterBox__button {
	color: #ffffff;
	font-size: 8px;
	border: none;
	border-radius: 20px;
	padding: 5px 10px;
	background: linear-gradient(180deg, rgb(238, 192, 99) 5%, rgb(207, 161, 70) 100%);
	text-shadow: 2px 1px 1px rgb(143, 102, 40);
	box-shadow: inset 1px 1px 2px 0px rgb(247, 232, 187);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    
}

.counterBox__button:hover {    
	background: linear-gradient(120deg, rgba(223, 134, 0, 0.5)  30%, rgb(255, 175, 36)  80%);

}

.counterBox__num{
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 10px;
}

.dropDownDescription {
	padding: 2px 4px;
	font-family: 'Lexend Deca', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 10px;
	border: none;
	border-radius: 5px;
	background: linear-gradient(180deg, rgb(238, 192, 99) 5%, rgb(207, 161, 70) 100%);
	text-shadow: 2px 1px 1px rgb(143, 102, 40);
	box-shadow: inset 1px 1px 2px 0px rgb(247, 232, 187);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.dropDownDescription:hover {
	background: linear-gradient(180deg, rgba(223, 134, 0, 0.5)  5%, rgb(255, 175, 36) 100%);
}
.dropDownDescription__icon {
	font-size: 15px;
	padding: 5px 5px;
	border-right: 1px solid rgba(255, 255, 255, 0.076);
	box-shadow: rgba(41, 41, 41, 0.14) -1px 0px 0px inset;
}

.dropDownOpen{
	transition: 1s ease-in;
}

.dropDownClose{
	transition: 1s ease-in;
	transform: rotateZ(185deg);
};

.dropDownDescription__text {
	font-size: 1.4em;
	padding: 10px;
}

.cardProducts__btnBuy{
	font-family: 'Lexend Deca', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 1em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background: linear-gradient(180deg, rgb(238, 192, 99) 5%, rgb(207, 161, 70) 100%);
	text-shadow: 2px 1px 1px rgb(143, 102, 40);
	box-shadow: inset 1px 1px 2px 0px rgb(247, 232, 187);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}

.cardProducts__btnBuy:hover {
	background: linear-gradient(180deg, rgba(223, 134, 0, 0.5)  5%, rgb(255, 175, 36) 100%);
}