.cardProducts {
    margin: 10px;
    width: 240px;
	height: 560px;
    border-radius: 5px;
    border-top-right-radius: 50px;
    border: 1px solid gray;
    overflow-y: clip;
	background: rgb(255, 245, 225);
	box-shadow: rgb(163, 163, 163) 0px 30px 25px -15px,
    rgba(0, 0, 0, 0.309) -10px 30px 40px 15px inset;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:flex-start;
}

.cardProducts__Image{
    width: 240px;
	height: 190px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

    box-shadow: rgba(71, 60, 60, 0.124) 1px 1px 1px 10px;
}

.cardProducts__infoBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content:space-between;

}

.cardProducts__titleBox{
    padding: 15px 0px;
  }

.cardProducts__title{
  text-align: center;
  font-size: 2em;
  font-family: 'Lexend Deca', sans-serif;
}

.cardProducts__DetailBox{
    width: 100%;
    padding: 0px 15px 15px 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.cardProducts__textBox{
    height: 0%;
    position: absolute;
    padding: 0px 20px 15px 20px;
    text-align: justify;
    font-family: 'Lexend Deca' , sans-serif;
    font-size: .8em;
    visibility: hidden;

}
.textBoxOpen{
    height: fit-content;
    position: relative;
    visibility: initial;
}

.cardProducts__amountBox{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}
.cardProducts__price{
    font-family: 'Lexend Deca' , sans-serif;
    font-size: 1em;
    font-weight: 800;
}

.cardProducts__btnBuyBox{
    padding: 25px 0px 20px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}